@media (min-width: 1080px) and (min-height: 2310px){

    #top_about {
    height: 120vh;
    }

    .proj_1_img2 {
    top: 5%;
    height: 10%;
    }

    .description_about_proj_1 {
    top: 5%;
    font-size: 150%;
    }

    .proj_2_img_com {
    top: 18%;
    height: 9%;
    }

    .description_about_proj_2 {
    top: 19%;
    font-size: 150%;
    }

    .proj_3_img_Voic {
    top: 30%;
    left: 54%;
    width: 37%;
    height: 11%;
    }

    .description_about_proj_3 {
    top: 33%;
    font-size: 150%;
    }

    .proj_4_img_TG_bot {
    top: 44%;
    height: 10%;
    }

    .description_about_proj_4 {
    top: 45%;
    font-size: 150%;
    }

    .proj_5_img_SpGame {
    top: 56%;
    width: 45%;
    height: 15.5%;
    }

    .description_about_proj_5 {
    top: 58%;
    font-size: 150%;
    }


    .proj_6_img_threads {
    top: 75%;
    width: 48%;
    height: 13%;
    }

    .description_about_proj_6 {
    top: 76%;
    font-size: 150%;
    }

    .social-icons_about {
    top: 90.4%;
    left: 20%;
    }

}