<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kraftru-Projects</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
   <header>
    <div id="logo" onclick="handleLogoClick()">
        <span style="color: #fff;">Kraftru</span>
    </div>
   </header>
   <div id="top_about">
       <div class="proj_1_img2"></div>
        <div class="description_about_proj_1">
        "<a href="https://denys1122.pythonanywhere.com/">ComHomes</a>" - це сайт на якому ви можете переглянути можливості компанії "ComHomes",
            заглянути у галерею та зробити замовлення натиснуваши на анкету, після чого її можливо заповнити.<p>Для створення цього сайту
        було використано такі технології:</p>
                <span style="color: yellow;">Python</span>,
                <span style="color: yellow;">Django</span>,
                <span style="color: yellow;">HTML</span>,
                <span style="color: yellow;">CSS</span>,
                <span style="color: yellow;">SqLite</span>.
        <p><a href="https://github.com/kulidaden/ComHomes">GitHub</a></p>
        </div>

       <div class="proj_2_img_com"></div>
       <div class="description_about_proj_2">
           "<a href="https://userscommentars.pythonanywhere.com/">Commentars</a>" - сайт де можна спілкуватись разом із користувачами та прикріпляти до своїх повідомлень файли різного типу.
           Для цього вам потрібно зареєструватись/авторизуватись. <p>При створенні сайту було використано такі технології:</p>
                <span style="color: yellow;">Python</span>,
                <span style="color: yellow;">Django</span>,
                <span style="color: yellow;">HTML</span>,
                <span style="color: yellow;">CSS</span>,
                <span style="color: yellow;">SqLite</span>.
           <p><a href="https://github.com/kulidaden/comm">GitHub</a></p>
       </div>

       <div class="proj_3_img_Voic"></div>
       <div class="description_about_proj_3">
           VoiceBot - це програма яка допоможе вам керувати комп'ютером за допомогою вашого голосу. <p>При створенні цієй програми було використано такі технології:</p>
                <span style="color: yellow;">Python</span>,
                <span style="color: yellow;">SqLite</span>,
                <span style="color: yellow;">OOP</span>.
           <p><a href="https://github.com/kulidaden/Voice_bot.git">GitHub</a></p>
       </div>

       <div class="proj_4_img_TG_bot"></div>
       <div class="description_about_proj_4">
           Tg_bot - це програма яка допоможе вам керувати комп'ютером за допомогою вашого телеграм-бота, для цього вам потрібер інший пристрій. Запустивши бота на ПК, ви можете
           керувати ним з телефону або іншого ПК. <p>При створенні цієй програми було використано такі технології:</p>
                <span style="color: yellow;">Python</span>,
                <span style="color: yellow;">SqLite</span>,
                <span style="color: yellow;">Telegram Bots</span>,
                <span style="color: yellow;">OOP</span>.
           <p><a href="https://github.com/kulidaden/Voice_bot.git">GitHub</a></p>
       </div>

       <div class="proj_5_img_SpGame"></div>
       <div class="description_about_proj_5">
           SpaceGame - це 2D гра, в якій користувач має керувати космічним літаком та знищувати ворожі кораблі прибульців. Для кращого відточування
           навиків програмування, було створено реєстрацію, щоб порівнювати себе з іншими гравцями та змагатись між собою.
           <p>Для створення гри було використано такі технології:</p>
                <span style="color: yellow;">Python</span>,
                <span style="color: yellow;">SqLite</span>,
                <span style="color: yellow;">OOP</span>.
           <p><a href="https://github.com/kulidaden/space_game.py.git">GitHub</a></p>
       </div>

       <div class="proj_6_img_threads"></div>
       <div class="description_about_proj_6">
           Threading - програма як демонструє паралельну роботу процесів, у даному випадку, чотирьох прямокутників, які, незалежно один від одного, змінюють свою площу.
           Інструкція для встановлення програми є на сайті <a href="https://github.com/kulidaden/threads.git">GitHub</a>.
           <p>Для створення гри було використано такі технології:</p>
                <span style="color: yellow;">Python</span>,
                <span style="color: yellow;">Threading</span>,
                <span style="color: yellow;">Docker</span>,
                <span style="color: yellow;">OOP</span>.
           <p><a href="https://github.com/kulidaden/threads.git">GitHub</a></p>
       </div>
       <div class="social-icons_about">
            <a href="https://www.instagram.com/_.k._.o.s.m.o._.s._/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://t.me/DeLemse" target="_blank"><i class="fab fa-telegram-plane"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100082053561305" target="_blank"><i class="fab fa-facebook-f"></i></a>
           <a href="https://linkedin.com/in/denys-kulida-3915232a6" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/kulidaden" target="_blank"><i class="fab fa-github"></i></a>
           <a href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtXDzSCVXnHspdBKRTZdfPMSWCXJKtPzjvbXnKQpqnMLDgrggGLNvRXPgxgHVZhFLstvjt" style="font-size: 35px;"><p>kulidadinis@gmail.com</p></a>
       </div>


   </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <script>
        function slowScroll(id) {
            $('html, body').animate({
                scrollTop: $(id).offset().top
            }, 500);
        }

        $(document).on("scroll", function() {
            if ($(window).scrollTop() === 0) {
                $("header").removeClass("fixed");
            } else {
                $("header").attr("class", "fixed");
            }
        });

        function handleLogoClick() {
            if ($(window).scrollTop() === 0) {
                // Якщо користувач вже на верхівці головної сторінки, переходимо на іншу сторінку
                window.location.href = "/";
            } else {
                // Інакше скролимо до верху
                slowScroll("#top_about");
            }
        }
        // Додаємо обробник подій для лого
        $("#logo").on("click", handleLogoClick);
    </script>
</body>
</html>
